#big {
  display: flex;
  flex-flow: row wrap;
  flex: 4 2 100%;
}
#box {
  display: flex;
  flex: 4 2 100%;
  flex-flow: column unwrap;
}
#mainbox {
  display: flex;
  flex-flow: row wrap;
  flex: 4 2 75%;
  margin: 1% 0.5% 1% 0%;
  justify-content: flex-start;
}
#asidebox {
  display: flex;
  flex: 4 0.7 25%;
  padding: 1% 1% 1% 1%;
  margin: 1% 0% 1% 0%;
  flex-flow: column wrap;
  justify-content: flex-start;
}
#sectionbox {
  display: flex;
  flex: 4 2 75%;
  flex-flow: column;
  padding: 1% 1% 1.5% 1%;
  align-items: center;
}
#articlebox {
  flex: 4 2 75%;
  padding: 1% 1% 1% 1%;
}
#navbox {
  display: flex;
  flex-flow: row wrap;
  flex: 4 2 100%;
  justify-content: center;
}
#footbox {
  display: flex;
  flex: 4 2 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
}
#headbox {
  display: flex;
  flex: 4 2 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
form {
  display: flex;
  flex-flow: row wrap;
  flex: 4 2 75%;
  padding: 10% 2% 2% 2%;
  align-items: baseline;
  justify-content: center;
}
#ul1 {
  display: flex;
  flex-flow: row wrap;
  flex: 4 2 100%;
  padding: 0% 2% 0% 2%;
  justify-content: center;
  align-items: center;
}
#ul2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
